{{ if .IsHome }}
<section class="hero  is-small">
  <div class="hero-body">
    <figure class="image container is-128x128 mb-2">
      {{ with .Site.Params.hero.logo }}
        <img class="is-rounded has-background-light portrait" src="{{ .src | relURL }}" height="{{ .height }}" width="{{ .width }}" alt="{{ .alt }}">
      {{ end }}
    </figure>
    <div class="media-content has-text-centered">
      <p class="title is-family-code">
        {{ .Site.Params.hero.title | default "slashoom.com"}}
      </p>
      <p class="subtitle is-family-code is-6">
        {{ .Site.Params.hero.subtitle | default "slashdoom.com"}}
      </p>
    </div>
  </div>
</section>
{{ else }}
<section class="hero is-small">
  <div class="hero-body">
    <div class="media-content has-text-centered">
      <p class="title">
        {{ $title := .Title | default .Site.Title }}
        {{ if (eq .Kind "404") }}
          {{ $title = "404" }}
        {{ end }}
        {{ $title }}
      </p>
    </div>
  </div>
</section>
{{ end }}